* {
    font-family: "Press Start 2P", system-ui;

}

body {
    background-color: #E54B4B;
}

.ticket-form {
    background-color: #F7EBE8;
}

#ticket-result #ticket-fail {
    width: 50%;
    background-color: #444140;
    color: #F7EBE8;

}

#reset-button {
    background-color: #FFA987;
}